/*  main color: #0a192f;
    green color: #64ffda;
    text color: #a8b2d1;
    light navy: #233554;  */

.color-form {
    background-color: #0a192f;
}

.banner {
    width: 100%;
    height: 80px;
    background-color: #060e1a;
    color: #a8b2d1;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.input-form {
    color: #a8b2d1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

fieldset div {
    padding: 8px;
    color: #a8b2d1;
}

fieldset {
    margin: 20px 0px 20px;
    width: 80%;
}

.fieldset-title {
    font-size: 25px;
}

.job-title {
    font-size: 20px;
    padding-bottom: 10px;
}

.enter-button {
    background-color: #a8b2d1; /* Green */
    border: none;
    color: #0a192f;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.intro {
    background-color: #a8b2d1;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
    color: #233554
}



.left {
    float: left;
    width: 25%;
    background-color: #ebecf3;
    height: calc(100vh - 95px);
    line-height: 150%;
}

.regular-content {
    padding: 10px 35px 0px;
}

.right {
    float: right;
    width: 75%;
    height: calc(100vh - 95px);
    line-height: 150%;
    display: flex;
    flex-direction: column;
}

.subtitle {
    align-self: center;
    text-align: center;
}